body {
    background-color: #5094CC;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

#top {
    background-color: #F4F7F5;
    padding-top: 10rem;
    padding-bottom: 10rem;
    
}

h1 {
    font-size: 4.4rem;
    text-align: center;
    color: #3F3B4C;
}

h2 {
    font-size: 3.5 rem;
    text-align: center;
    color: #3F3B4C;
}

#quote {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5 rem;
    border-left: 10px solid #E8AF4C;
    padding-left: 10px;
    
  }

p {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 1.8rem;
    margin-left: 5rem;
    margin-right: 15rem;
}