body {
    background-color: #F4F7F5;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

#top {
    background-color: #F4F7F5;
    padding-top: 10rem;
    padding-bottom: 2rem;
    
}

#middle {
    background-color: #5094CC;
}

#bottom {
    background-color: #5094CC;
}

h1 {
    font-size: 4.4rem;
    text-align: center;
    color: #3F3B4C;
}

h2 {
    font-size: 3.8rem;
    text-align: center;
    color: #3F3B4C;
}

#quote {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    border-left: 10px solid #5094CC;
    padding-left: 20px;
    text-align: center;
  }

p {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-right: 15rem;
}

#video {
    text-align: center;
    max-width: 50%;
    max-height: 50%;
}

img {
    max-width: 400px;
    max-height: auto;
}